<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <style>
    table {
      border-collapse: collapse;
    }

    table td {
      padding: 10px;
      border: 1px solid #000;
    }

    table tr:first-child td {
      border-top: none;
    }

    table tr:last-child td {
      border-bottom: none;
    }

    table td:first-child {
      border-left: none;
    }

    table td:last-child {
      border-right: none;
    }

    @media screen and (max-width: 500px) and (orientation: portrait) {
      #not-allow {
        display: block;
      }
      #allow {
        display: none;
      }
    }

    
  </style>
</head>
<body class="font-primary">
  <%- include('../partials/safe') %>
  <section id="allow" class="w-full">

    <%- include('../partials/toolbar') %>
    <%- include('../partials/popup', {title: "มีอะไรใหม่ใน ASL Manager beta 1.1?", description: "'Carousel' อนิเมชั่นใหม่ ในรูปแบบฟิล์มภาพยนตร์ สำรวจได้ที่ คำแนะนำใน ASL Templates", button: false}) %>

    <section class="font-primary w-full VStack items-center">
      <!-- Button to show the hidden content -->
      <button
        id="toggleContentButton"
        class="text-black w-60 gap-3 rounded-full h-12 mt-10 HStack justify-center items-center"
      >
        <p class="font-semibold">มาเริ่มกันเลย!</p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            id="arrowIcon"
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m19.5 8.25-7.5 7.5-7.5-7.5"
          />
        </svg>
      </button>
      <div
        id="startContent"
        class="p-5 VStack items-start text-gray-500"
        style="display: none"
      >
        <p class="text-lg pb-2 text-gray-500">แค่ไม่กี่ขั้นตอน</p>
        <ul class="text-base ">
          <li>1. ดาวน์โหลด ASL template บน toolbar</li>
          <li>2. อ่านคำแนะนำ</li>
          <li>3. ปรับแต่ง</li>
          <li>4. บันทึกเป็น <span class="text-blue-400">csv</span> เช่น หน้าที่ต้องการเปลี่ยน.csv jetlin01.csv nonyai03.csv</li>
          <li>5. ล่งและปล่อยในกล่อง</li>
          <li>6. กดเปลี่ยนแปลง และ เสร็จสิ้น!</li>
        </ul>
      </div>

      <%- include('../partials/upload') %>
    </section>
  </section>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      // Get references to the toggle button and the hidden content
      var toggleContentButton = document.getElementById("toggleContentButton");
      var startContent = document.getElementById("startContent");
      var arrowIcon = document.getElementById("arrowIcon");

      // Add click event listener to the toggle button
      toggleContentButton.addEventListener("click", function () {
        // Toggle the display of the hidden content
        startContent.style.display =
          startContent.style.display === "none" ? "block" : "none";
        // Change the arrow direction
        if (startContent.style.display === "none") {
          arrowIcon.setAttribute("d", "m19.5 8.25-7.5 7.5-7.5-7.5");
        } else {
          arrowIcon.setAttribute("d", "m4.5 15.75 7.5-7.5 7.5 7.5");
        }
      });

      // Show the overlay and popup
      document.querySelector('.overlay').style.display = 'block';
      document.querySelector('.popup-container').style.display = 'block';
    });
  </script>
</body>
</html>
